section.button {
  position: absolute;
  margin: 3% 0 0 5%;
}

.button__content {
  display: flex;
  width: 60rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1000px) {
  section.button {
    margin: 5% 0 0 5%;
  }

  .button__content {
    display: flex;
    width: 30rem;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 1080px) and (orientation: landscape) {
  section.button {
    margin: 2% 0 0 5%;
  }

  .button__content {
    display: flex;
    width: 60rem;
    flex-wrap: wrap;
    align-items: center;
  }
}

.button__content a {
  text-decoration: none;
  padding: 2rem 2rem;
  font-size: 4rem;
  width: 27rem;
  margin: 0 2rem 2rem 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
  border: solid 1px #e5e600;
}

.button__content a:hover {
  transform: translateY(-5px);
}

.button__content a p {
  font-size: 1.5rem;
  color: #e5e600;
}

.button__content a p span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5fc1c7;
}
